/* If resume doesn't work: R&eacute;sum&eacute */

body
{
	/* For browsers that do not support gradients */
	background: black;
	/* For Safari 5.1 to 6.0 */
	background: -webkit-repeating-radial-gradient(blue, black 15%);
	/* For Opera 11.6 to 12.0 */
	background: -o-repeating-radial-gradient(blue, black 15%);
	/* For Firefox 3.6 to 15 */
	background: -moz-repeating-radial-gradient(blue, black 15%);
	/* Standard syntax */
	background: repeating-radial-gradient(blue, black 15%);
}

div.contentcontainer
{
	font-family: 'Roboto Slab', serif;
	
	height: auto%;
	width: auto;
	background-color: rgba(255,255,255,.7);
	
	border-radius: 100px;
	
	margin: 5%;
	
	padding: 5%;
}
div.paragraph
{
	text-align: center;
	font-size: 20px;
}
div.section
{
	font-size: 20px;
}

/* Links */
a:link
{
	color: black;
	text-decoration: none;
}
a:visited
{
	color: black;
	text-decoration: none;
}
a:hover
{
	font-weight: bold;
	text-decoration: none;
}
a:active
{
	color: black;
	text-decoration: none;
}

/* Buttons */
.button 
{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Nav Bar */
#nav ul 
{
	margin: 5px 0 15px 0;
	padding: 10px 0 20px 0;
	list-style-type: none;
	font-size: 25px;
	border-bottom: solid black 3px;
	text-align: center;
}
#nav li 
{
	display: inline;
	margin: 0;
	padding: 0;
}
#nav li a 
{
	margin: 0 1em 0 0;
	padding: 5px 0;
	text-decoration: none;
	color: black;
}
#nav li a:hover:not(.active) 
{
    text-decoration: underline;
}
#nav a.selected:link, a.selected:visited 
{
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
}

