body {
	margin: 0;
	/* taken from: http://lea.verou.me/css3patterns/#carbon */
	background:linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
	
	font-family: 'Roboto', sans-serif;
}

/* Nav Bar */
#nav ul 
{
	margin: 0px 0 0px 0;
	padding: 10px 0 20px 0;
	list-style-type: none;
	font-size: 25px;
	text-align: center;
	background-color: #161616;
	border: 0px 0 0px 0;
}
#nav li 
{
	display: inline;
	margin: 0;
	padding: 0;
}
#nav li a 
{
	margin: 0 1em 0 0;
	padding: 5px 0;
	text-decoration: none;
	color: white;
}
#nav li a:hover:not(.active) 
{
    text-decoration: underline;
}
#nav a.selected:link, a.selected:visited 
{
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
}

/* Search */
input[type=text] {
    width: 98%;
	padding: 10px;
	margin: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    background-image: url('searchicon.png'); /* does not work? */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

/* Twitter Widget */
#twitter {
	float: right;
}

/* Scrollbar */
/* may or may not be doing anything */
.scroller::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.scroller::-webkit-scrollbar-track {
    background: white;
}
.scroller::-webkit-scrollbar-thumb {
    background: #ddd;
    visibility:hidden;
}
.scroller:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}
.scroller {
    overflow: auto;
    font: 16px/1.5 Arial;
    color: #444;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    height: 200px;
}

/* Content */
#homecontent {
	background-color: rgba(255,255,255,.7);
	margin: 50px;
	padding:30px;
	border-radius: 30px;
	width: 65%;
	height: auto;
	
	font-size: 20px;
	
	text-align: center;
}
.contentcontainer {
	height: 50px;
	width: 150px;
	background-color: rgba(255,255,255,.75);
	border-radius: 15px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}
