/* Body */
html, body {
  background: #262626; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #53346d, #262626); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #53346d, #262626); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #53346d, #262626); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #53346d, #262626); /* Standard syntax */

  /*
  * Grad 1: #53346d -> #262626
  * Grad 2: #6441A5 -> #6441A5
  */

  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body > *{
	flex-shrink: 0;
}
/* Scroll Bar */
body::-webkit-scrollbar {
    width: 0em;
}
.popup::-webkit-scrollbar {
    width: 1em;
}
.scrollable {
    height: 100px;
    overflow-y: auto;
}
/* Container Grid Thing*/
.container {
  display: grid | inline-grid | subgrid;
  /* makes 4 x 4 grid */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
/* ----------------------------HOME---------------------------- */
.home {

}
#imglinks {

}
.imglink {
  width: 3vw;
  height: auto;
}
