---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if site.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ site.author }}</span></span>
      {%- endif -%}</p>

      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  {%- if page.video-links -%}
  <center>
  <!--
  <div class="vid-cont">
    <iframe width="80%" height="auto" src="{{ page.video-links }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
  </div>
  -->

  <div class="auto-resizable-iframe">
    <div>
      <iframe width="87%" height="315" frameborder="0" allowfullscreen="" src="{{ page.video-links }}"></iframe>
    </div>
  </div>
  </center>
  <br>
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
